<div class="row">
  <div class="col-md-12">
      <div class="box">
          <div class="box-body">
              <table class="table table-bordered table-hover" *ngIf="salesTerritoryList && salesTerritoryList.length">
                  <thead>
                      <tr>
                          <th>Action</th>
                          <th>Name</th>
                          <th>CountryRegionCode</th>
                          <th>Group</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let salesTerritory of salesTerritoryList">
                          <td>
                              <a class="btn btn-info btn-sm" [routerLink]="['/territories', salesTerritory.id]">View</a>
                              <a class="btn btn-info btn-sm" [routerLink]="['/territories/edit', salesTerritory.id]">Edit</a>
                          </td>
                          <td>{{ salesTerritory.name }}</td>
                          <td>{{ salesTerritory.countryRegionCode }}</td>
                          <td>{{ salesTerritory.group }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
      <a routerLink="/territories/create" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>Add Territory</a>
  </div>
</div>
